.root {
  min-height: 100vh;
  max-width: 782pt;
  margin: 0 auto;
  padding: 16pt;
  box-sizing: border-box;
}

progress {
  width: 100%;
  height: 10px;
}
progress::-ms-fill,
progress::-moz-progress-bar,
progress::-webkit-progress-bar
{
  background-color: #eaeaea;
}
progress::-webkit-progress-value {
  background-color:#000;
}

.d-flex {
  display: flex;
}
.flex-fill {
  flex: 1;
  width: 1%;
}

.m-0 {
  margin: 0;
}
.mt-2 {
  margin-top: 1rem !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-3 {
    flex: 0 0 26%;
    max-width: 26%;
  }
  .col-md-9 {
    flex: 0 0 74%;
    max-width: 74%;
  }
}

.icon-theme {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 99;
  display: block;
  padding: 1rem;
  cursor: pointer;
}

body:not(.dark-theme) #icon-d{
  display: none;
}
.dark-theme #icon-l{
  display: none;
}





